.aboutContainer {
  margin: 6rem;
  line-height: 1.8rem;
}

.about {
  max-width: 50rem;
  max-height: 30rem;
  font-size: 22px;
}

.h1 {
  color: rgb(153, 153, 29);
  font-size: 46px;
}

@media (max-width: 600px) {
  .aboutContainer {
    margin: 1rem;
  }
  .about {
    font-size: 18px;
  }
}
