.contactContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 6rem;
  width: 40rem;
  height: 35rem;
}
.contact {
  /* float: left; */
  font-size: 24px;
}

.connect {
}
.h1 {
  color: rgb(153, 153, 29);
}
