.contactContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 6rem;
  margin-left: 10rem;
  width: 45rem;
  height: 35rem;
  line-height: 2.5rem;
}
.contact {
  /* float: left; */
  font-size: 24px;
}

.connect {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  max-width: 25rem;
}
.h1 {
  color: rgb(153, 153, 29);
  font-size: 46px;
  margin-bottom: 2rem;
}
